:root {
  --background: #01071f;
  --surface: #0d1329;

  --border: #2d2e30;
  --border-accent: #46484f;

  --foreground: #b7b7b7;
  --foreground-accent: #ebebeb;
  --foreground-muted: #959595b9;

  --primary: #3bcdc2;
  --primary-accent: #bca5ff;
  --primary-surface: #8152fe37;
  --primary-foreground: #fff;

  --card: #19191b;
  --card-foreground: #eeeef0;

  --region-bar: #b199fef3;
  --region-surface: #d6e2f916;
}
