:root {
  --background: #1d2126;

  --foreground: #d7dfea;
  --foreground-muted: #959595b9;

  --surface: #21262c;
  --surface-accent: #293038;

  --border: #404954;
  --border-accent: #485361;

  --primary: #426cff;
  --primary-accent: #577cff;
  --primary-surface: #8152fe37;
  --primary-foreground: #fff;

  --card: #19191b;
  --card-foreground: #eeeef0;

  --region-bar: #b199fef3;
  --region-surface: #d6e2f916;

  --info: #3a9df8;
  --success: #2fca80;
  --error: #f0555a;
  --warning: #ffc107;
}
