:root {
  --background: #fff;
  --surface: #f9f9fb;

  --border: #eff0f3;
  --border-accent: #cdced7;

  --foreground: #374151;
  --foreground-accent: #111827;
  --foreground-muted: #484848b9;

  --primary: #7146fc;
  --primary-accent: #643ee1;
  --primary-surface: #0000ff0f;
  --primary-foreground: #fff;

  --card: #fff;
  --card-foreground: #1e1f24;
}

.dark {
  --background: #1a1a1b;
  --surface: #d6e2f916;

  --border: #2d2e30;
  --border-accent: #46484f;

  --foreground: #b7b7b7;
  --foreground-accent: #ebebeb;
  --foreground-muted: #959595b9;

  --primary: #b59eff;
  --primary-accent: #bca5ff;
  --primary-surface: #8152fe37;
  --primary-foreground: #fff;

  --card: #19191b;
  --card-foreground: #eeeef0;
}
